<p style="color: green"><%= notice %></p>

<%= render @feedback_form %>

<div>
  <%= link_to "Edit this feedback form", edit_feedback_form_path(@feedback_form) %> |
  <%= link_to "Back to feedback forms", feedback_forms_path %>

  <%= button_to "Destroy this feedback form", @feedback_form, method: :delete %>
</div>
